@import "../variables";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.memberswrapper {
    h2 {
        color: $orange;
    }

    .editContractWrapper {
        color: white;
        button {
            margin-top: 20px;
            font-size: $mobileFontSizeMedium;
            border: 1px solid white;

            color: white;
            background-color: $darkgrey;
        }
        select {
            font-size: $mobileFontSizeMedium;
            background-color: $darkgrey;
            color: white;
            border: 1px solid white;
        }
        input {
            margin: auto;
            margin-top: 5px;
            font-size: $mobileFontSizeMedium;
            width: 125px;
            height: 20px;
            border: 1px solid $orange;
            color: white;
            background-color: $darkgrey;
        }
    }
    .editMemberWrapper {
        color: white;
        button {
            margin-top: 20px;
            font-size: $mobileFontSizeMedium;
            border: 1px solid white;

            color: white;
            background-color: $darkgrey;
        }
        select {
            font-size: $mobileFontSizeMedium;
            background-color: $darkgrey;
            color: white;
            border: 1px solid white;
        }
        .openContractSettingsBtn {
            border: none;
            font-size: $mobileFontSizeMedium;

            color: black;
            margin-top: 10px;

            text-align: center;
            background-color: $orange;
        }

        .deleteMember {
        }
    }

    .contractTypesWrapper {
        button {
            font-size: $mobileFontSizeMedium;
            border: none;

            // color: white;
            background-color: $orange;
        }
    }

    .registrationPendingListWrapper {
        color: white;
        .buttonWrapper {
            select {
                font-size: $mobileFontSizeMedium;
                background-color: $darkgrey;
                color: white;
                border: 1px solid white;
            }

            .activateBtn {
                border: 1px solid $orange;
                background-color: $orange;
            }
        }
        .regBox {
            border: 1px solid $orange;
            margin-bottom: 10px;
        }
    }

    .membersListWrapper {
        color: white;
        .checkboxesWrapper {
            margin-bottom: 10px;
        }
        .searchBar {
            margin-bottom: 10px;
        }
        .memberBox {
            border: 1px solid $orange;
            margin-bottom: 10px;
        }
    }
}
