@import "../variables";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.editProfileWrapper {
    width: 95vw;
    max-width: 450px;
    margin: auto;

    display: flex;
    flex-direction: column;
    color: white;
    .backBtn {
        margin-top: 20px;
        font-size: $mobileFontSizeBig;
        border: 1px solid white;

        color: white;
        background-color: $darkgrey;
    }

    .inputWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: space-between;
        div {
            width: 50%;
        }
        .flexEndWrapper{
            display: flex;
            justify-content: flex-end;        }



    }

    .saveProfileChanges {
        margin: auto;
        margin-bottom: 20px;

        font-size: $mobileFontSizeBig;
        border: none;

        color: black;
        background-color: $orange;
    }
    select {
        font-size: $mobileFontSizeMedium;
        background-color: $darkgrey;
        color: white;
        width: 150px;

        border: 1px solid white;
    }
    input {
        // margin: auto;
        margin-top: 5px;
        font-size: $mobileFontSizeMedium;
        width: 150px;
        height: 20px;
        border: 1px solid $orange;
        color: white;
        background-color: $darkgrey;
    }
    .addressInputWrapper {
        .street {
            margin-top: 10px;
        }
        .houseNumber {
            width: 35px;
            margin-right: 5px;
        }
        .extraInfo {
            width: 30px;
        }
        .postcode {
            width: 50px;
        }
    }
}

.profileInfoBox {
    width: 100vw;
    height: 100px;
    background-color: $orange;
    .profileInfoInnerWrapper {
        display: flex;
        width: 95vw;
        height: 100%;
        max-width: 600px;
        margin: auto;
        justify-content: space-between;
        .profilePicWrapper {
            height: 100%;
            /* display: block; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            .profilePic {
                width: 70px;
                height: 70px;
                border: none;
                border-radius: 100%;
                background-color: white;
            }
        }

        .profileInfoWrapper {
            width: calc(100% - 75px);
            display: flex;
            flex-direction: column;
            justify-content: center;

            .editProfileBtnWrapper {
                display: flex;
                flex-direction: column;
                .editProfileInfo {
                    align-self: flex-end;

                    border: 1px solid $darkgrey;
                }
            }
        }
    }
}

.signedUpClassesList {
    width: 95vw;
    max-width: 600px;
    margin: auto;

    h2 {
        color: $orange;
    }
}


.myClasses {
    width: 100%;
    height: 40px;
    margin: auto;
    display: flex;
    button {
        width: 50%;
        text-align: center;
        font-size: $mobileFontSizeMedium;
        color: $darkgrey;
        font-weight: bold;
        background-color: $orange;
        border: 1px solid $darkgrey;
        &.selected {
            background-color: white;
        }
    }
}
.classBox {
    width: 95vw;
    max-width: 600px;
    margin: auto;
}
.class {
    font-size: $mobileFontSizeMedium;
    color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid $orange;
    border-radius: 10px;

    background-color: $darkgrey;
    height: 100px;
    margin: auto;
    margin-top: 5px;
    width: 99%;
    .classDetailBox {
        width: 90%;
        margin: auto;
        display: flex;
        // flex-direction: row;
        .classDetails {
            span {
                color: $orange;
                font-weight: bold;
            }
            div {
                // display: flex;
                h3 {
                    margin: 0;
                }
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;
            &.one {
                width: calc((100% / 5) * 3);
            }
            &.two {
                div {
                    margin-bottom: 5px;
                }
                width: calc((100% / 5) * 2);
            }
        }
    }
}
