@import "../variables";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");


h3 {
    color: $orange;
    margin-bottom: 10px;
}

.classTypesWrapper{
    // display: flex;
    margin-top: 20px;
    button {
        // margin: auto;
        font-size: $mobileFontSizeBig;
        border: none;

        // color: white;
        background-color: $orange;
    }
}

.classManagerWrapper{
    .topBtnsWrapper{
        // margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .backBtn{
        font-size: $mobileFontSizeBig;
        border: 1px solid white;

        color: white;
        background-color: $darkgrey;
    }
}

.showSettingsToggleBtn{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    h3 {
        margin: 0;
        margin-right: 10px;
    }
    .arrowIcon {
        width: 20px;
        height: 20px;
        background-image: url("../assets/arrow.png");
        background-size: contain;
        background-repeat: no-repeat;

        &.up {
            transform: rotate(180deg);
        }
    }
}

.settingsWrapper{
    width: 100%;
    max-width: 300px;
    color: white;
    margin-bottom: 20px;

    div{
        margin-bottom: 10px;
        input{
            width: 30px;
            margin-right: 5px;
            width: 30px;
            height: 20px;
        }
    }
    button {
        border: none;
        // display: block;
        font-size: $mobileFontSizeMedium;
        width: 100%;
        height: 30px;
        color: black;
        // margin: auto;
        text-align: center;
        background-color: $orange;

    }
}
